[submodule "buy-me-a-coffee"]
	path = buy-me-a-coffee
	url = https://github.com/mllwchrry/buy-me-a-coffee
[submodule "chain-battles"]
	path = chain-battles
	url = https://github.com/mllwchrry/chain-battles
[submodule "nft-gallery-alchemy-api"]
	path = nft-gallery-alchemy-api
	url = https://github.com/mllwchrry/nft-gallery-alchemy-api.git
